In [1]:
import pandas as pd
import json
import statistics
import numpy as np
import datetime as dt
import iexfinance as iexf

In [2]:
start = dt.date(2018,5,15)
end = dt.date(dt.date.today().year, dt.date.today().month,dt.date.today().day-1)
end_t = dt.datetime(end.year,end.month,end.day-1, 4,0,0)

#### Yahoo! Finance Data

In [3]:
start_utc = int(dt.datetime(2018,5,15,4,0,0).timestamp())
end_utc = int(end_t.timestamp())

yahoo_url = "https://finance.yahoo.com/quote/{0}/history?period1={1}&period2={2}&interval=1d&filter=history&frequency=1d"
url_tail = "/history?p=%5"

yahoo_symbbol = ["^DJA",
                "^GSPC",
                "EUXL"]

yahoo_description = {"DJA": "Dow Jones Industrial Average",
                     "GSPC":"Standard and Poors 500",
                     "EUXL":"Direxion Daily Euro Stoxx 50 Bull 3x Shares"}

In [4]:
for sym in yahoo_symbbol:
    temp = pd.read_html(yahoo_url.format(sym,start_utc,end_utc))
    df = temp[0][:-1].copy()
    df["Symbol"] = sym.replace("^","")
    globals()["yahoo_%s" %sym.replace("^","")] = df

#### IEX Financial Data

In [5]:
iex_symbol = {"DIA":"DJA", "SPY":"GSPC", "EUXL":"EUXL"}
iex_name = ["Dow Jones Industrial Average", "Standard and Poors 500", "Direxion Daily Euro Stoxx 50 Bull 3x Shares"]

iex_col_data = ["Date","Open","High","Low","Close","Volume","Symbol"]
iex_col_dtypes = {
    "Date":"datetime64[ns]",
    "Open":"float64",
    "High":"float64",
    "Low":"float64",
    "Close":"float64",
    "Volume":"float64",
    "Symbol":"object"}

In [6]:
for stock in iex_symbol.keys():
    globals()["iex_%s" %stock] = iexf.get_historical_data(stock, start=start, end=end)
    temp_date = []
    temp_open = []
    temp_high = []
    temp_low = []
    temp_close = []
    temp_vol = []
    temp_symbol = []

    temp_keys = globals()["iex_%s" %stock][stock]
    for key in temp_keys.keys():
        temp_date.append(key)
        temp_open.append(temp_keys[key]["open"])
        temp_high.append(temp_keys[key]["high"])
        temp_low.append(temp_keys[key]["low"])
        temp_close.append(temp_keys[key]["close"])
        temp_vol.append(temp_keys[key]["volume"])
        temp_symbol.append(iex_symbol[stock])
    globals()["iex_%s" %stock] = pd.DataFrame(np.column_stack([temp_date,temp_open, temp_high,temp_low,temp_close,temp_vol,temp_symbol]),
                          columns=iex_col_data).astype(iex_col_dtypes)

##### Yahoo! Finance DataFrames with Date Index

In [7]:
yahoo_DJA_df = yahoo_DJA.set_index("Date")
yahoo_DJA_df.sort_index(ascending=True, inplace=True)
yahoo_DJA_df.index = pd.to_datetime(yahoo_DJA_df.index)
yahoo_GSPC_df = yahoo_GSPC.set_index("Date")
yahoo_GSPC_df.sort_index(ascending=True, inplace=True)
yahoo_GSPC_df.index = pd.to_datetime(yahoo_GSPC_df.index)
yahoo_EUXL_df = yahoo_EUXL.set_index("Date")
yahoo_EUXL_df.sort_index(ascending=True, inplace=True)
yahoo_EUXL_df.index = pd.to_datetime(yahoo_EUXL_df.index)

In [8]:
yahoo_DJA530_df = yahoo_DJA_df.reset_index()

for index, row in yahoo_DJA530_df.iterrows():
    yahoo_DJA530_df.set_value(index, "Event", "Rescheduled")
    
yahoo_DJA530_df = yahoo_DJA530_df[(yahoo_DJA530_df["Date"]>="2018-05-25") & (yahoo_DJA530_df["Date"]<"2018-06-02")]

yahoo_DJA530_df = yahoo_DJA530_df.set_index("Date")

yahoo_DJA_df.to_csv("DJA_May30.csv")

yahoo_DJA530_df

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

,Open,High,Low,Close*,Adj Close**,Volume,Symbol,Event
Date,,,,,,,,
2018-06-01,8270.94,8347.58,8231.10,8290.68,8290.68,3.684130e+09,DJA,Rescheduled
2018-05-25,8311.25,8372.12,8269.58,8323.08,8323.08,2.995260e+09,DJA,Rescheduled
2018-05-29,8286.76,8315.46,8158.93,8216.47,8216.47,3.736890e+09,DJA,Rescheduled
2018-05-30,8240.06,8352.97,8216.74,8319.06,8319.06,3.561050e+09,DJA,Rescheduled
2018-05-31,8307.13,8337.44,8196.97,8234.53,8234.53,4.235370e+09,DJA,Rescheduled

In [9]:
yahoo_DJA612_df = yahoo_DJA_df.reset_index()

for index, row in yahoo_DJA612_df.iterrows():
    yahoo_DJA612_df.set_value(index, "Event", "Summit")
    
yahoo_DJA612_df = yahoo_DJA612_df[(yahoo_DJA612_df["Date"]>="2018-06-08") & (yahoo_DJA612_df["Date"]<"2018-06-15")]

yahoo_DJA612_df = yahoo_DJA612_df.set_index("Date")

yahoo_DJA_df.to_csv("DJA_June12.csv")

yahoo_DJA612_df

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

,Open,High,Low,Close*,Adj Close**,Volume,Symbol,Event
Date,,,,,,,,
2018-06-08,8354.63,8427.27,8313.91,8397.13,8397.13,3.123210e+09,DJA,Summit
2018-06-11,8403.40,8477.28,8351.97,8411.81,8411.81,3.232330e+09,DJA,Summit
2018-06-12,8418.49,8486.33,8365.19,8433.63,8433.63,3.401010e+09,DJA,Summit
2018-06-13,8437.81,8491.19,8360.09,8390.05,8390.05,3.779230e+09,DJA,Summit
2018-06-14,8407.21,8469.70,8349.97,8401.05,8401.05,3.526890e+09,DJA,Summit

In [10]:
yahoo_GSPC530_df = yahoo_GSPC_df.reset_index()

for index, row in yahoo_GSPC530_df.iterrows():
    yahoo_GSPC530_df.set_value(index, "Event", "Rescheduled")
    
yahoo_GSPC530_df = yahoo_GSPC530_df[(yahoo_GSPC530_df["Date"]>="2018-05-25") & (yahoo_GSPC530_df["Date"]<"2018-06-02")]

yahoo_GSPC530_df = yahoo_GSPC530_df.set_index("Date")

yahoo_GSPC530_df.to_csv("GSPC_May30.csv")

yahoo_GSPC530_df

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

,Open,High,Low,Close*,Adj Close**,Volume,Symbol,Event
Date,,,,,,,,
2018-06-01,2718.70,2736.93,2718.70,2734.62,2734.62,3.684130e+09,GSPC,Rescheduled
2018-05-25,2723.60,2727.36,2714.99,2721.33,2721.33,2.995260e+09,GSPC,Rescheduled
2018-05-29,2705.11,2710.67,2676.81,2689.86,2689.86,3.736890e+09,GSPC,Rescheduled
2018-05-30,2702.43,2729.34,2702.43,2724.01,2724.01,3.561050e+09,GSPC,Rescheduled
2018-05-31,2720.98,2722.50,2700.68,2705.27,2705.27,4.235370e+09,GSPC,Rescheduled

In [11]:
yahoo_GSPC612_df = yahoo_GSPC_df.reset_index()

for index, row in yahoo_GSPC612_df.iterrows():
    yahoo_GSPC612_df.set_value(index, "Event", "Summit")
    
yahoo_GSPC612_df = yahoo_GSPC612_df[(yahoo_GSPC612_df["Date"]>="2018-06-08") & (yahoo_GSPC612_df["Date"]<"2018-06-15")]

yahoo_GSPC612_df = yahoo_GSPC612_df.set_index("Date")

yahoo_GSPC612_df.to_csv("GSPC_June12.csv")

yahoo_GSPC612_df

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

,Open,High,Low,Close*,Adj Close**,Volume,Symbol,Event
Date,,,,,,,,
2018-06-08,2765.84,2779.39,2763.59,2779.03,2779.03,3.123210e+09,GSPC,Summit
2018-06-11,2780.18,2790.21,2780.17,2782.00,2782.00,3.232330e+09,GSPC,Summit
2018-06-12,2785.60,2789.80,2778.78,2786.85,2786.85,3.401010e+09,GSPC,Summit
2018-06-13,2787.94,2791.47,2774.65,2775.63,2775.63,3.779230e+09,GSPC,Summit
2018-06-14,2783.21,2789.06,2776.52,2782.49,2782.49,3.526890e+09,GSPC,Summit

In [12]:
yahoo_EUXL530_df = yahoo_EUXL_df.reset_index()

for index, row in yahoo_EUXL530_df.iterrows():
    yahoo_EUXL530_df.set_value(index, "Event", "Rescheduled")
    
yahoo_EUXL530_df = yahoo_EUXL530_df[(yahoo_EUXL530_df["Date"]>="2018-05-25") & (yahoo_EUXL530_df["Date"]<"2018-06-02")]

yahoo_EUXL530_df = yahoo_EUXL530_df.set_index("Date")

yahoo_EUXL530_df.to_csv("EUXL_May30.csv")

yahoo_EUXL530_df.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

,Open,High,Low,Close*,Adj Close**,Volume,Symbol,Event
Date,,,,,,,,
2018-06-01,23.42,23.44,23.33,23.44,23.07,2300,EUXL,Rescheduled
2018-05-25,25.25,25.25,25.25,25.25,24.86,-,EUXL,Rescheduled
2018-05-29,22.45,22.70,21.45,21.78,21.44,9500,EUXL,Rescheduled
2018-05-30,22.90,23.30,22.60,23.17,22.81,8000,EUXL,Rescheduled
2018-05-31,22.63,22.79,22.50,22.79,22.43,9300,EUXL,Rescheduled

In [13]:
yahoo_EUXL612_df = yahoo_EUXL_df.reset_index()

for index, row in yahoo_EUXL612_df.iterrows():
    yahoo_EUXL612_df.set_value(index, "Event", "Summit")
    
yahoo_EUXL612_df = yahoo_EUXL612_df[(yahoo_EUXL612_df["Date"]>="2018-06-08") & (yahoo_EUXL612_df["Date"]<"2018-06-15")]

yahoo_EUXL612_df = yahoo_EUXL612_df.set_index("Date")

yahoo_EUXL612_df.to_csv("EUXL_June12.csv")

yahoo_EUXL612_df.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

             Open   High    Low  Close*  Adj Close** Volume Symbol   Event
Date
2018-06-08  23.96  23.96  23.96   23.96        23.59    300   EUXL  Summit
2018-06-11  24.58  24.79  24.58   24.79        24.40   2600   EUXL  Summit
2018-06-12  24.77  24.77  24.50   24.50        24.12    700   EUXL  Summit
2018-06-13  24.59  24.59  24.59   24.59        24.21    300   EUXL  Summit
2018-06-14  24.59  24.90  24.57   24.57        24.19   2000   EUXL  Summit

##### IEX Financial DataFrames with Date Index

In [14]:
iex_DJA_df = iex_DIA.set_index("Date")
iex_GSPC_df = iex_SPY.set_index("Date")
iex_EUXL_df = iex_EUXL.set_index("Date")

In [15]:
iex_DJA_df

                Open      High       Low     Close     Volume Symbol
Date
2018-05-15  247.0021  247.1116  245.4289  246.2454  4755865.0    DJA
2018-05-16  246.1159  247.2112  245.9078  246.9025  2034402.0    DJA
2018-05-17  246.7333  247.8212  245.8172  246.6735  2058226.0    DJA
2018-05-18  246.6010  247.1602  246.0518  246.6310  2408831.0    DJA
2018-05-21  248.8477  250.2955  248.8377  249.5666  4060299.0    DJA
2018-05-22  249.9959  250.0559  247.5496  247.8092  2329251.0    DJA
2018-05-23  246.4612  248.3284  246.0993  248.2585  3489376.0    DJA
2018-05-24  247.7593  248.0588  245.4827  247.5396  3448098.0    DJA
2018-05-25  247.0404  247.7293  246.3414  247.0004  4206996.0    DJA
2018-05-29  245.0134  245.8422  241.9480  243.0863  6439614.0    DJA
2018-05-30  244.8037  246.7907  244.2146  246.3314  4185861.0    DJA
2018-05-31  245.6325  245.6524  243.1462  243.8152  5357794.0    DJA
2018-06-01  245.7723  246.4612  245.2830  245.9919  3565273.0    DJA
2018-06-04  247.3499  248.2985  247.1702  247.8292  3062549.0    DJA
2018-06-05  247.7892  248.1053  246.7907  247.7793  2816404.0    DJA
2018-06-06  248.8676  251.1542  248.1787  251.1442  4102505.0    DJA
2018-06-07  251.8432  252.9915  251.3639  252.1527  4286770.0    DJA
2018-06-08  251.5836  253.0314  251.3909  252.8916  4450986.0    DJA
2018-06-11  253.2411  253.7793  252.6420  253.0114  4200206.0    DJA
2018-06-12  253.3609  253.3909  252.1827  252.9216  6531009.0    DJA
2018-06-13  253.0414  253.3725  251.6535  251.8032  3819019.0    DJA
2018-06-14  252.7818  253.1362  251.1642  251.6135  5006987.0    DJA
2018-06-15  250.2700  251.1950  248.7700  250.7400  6340812.0    DJA
2018-06-18  248.8000  249.9000  248.1400  249.7300  4075518.0    DJA
2018-06-19  246.6000  247.2300  245.5300  246.8800  5511050.0    DJA
2018-06-20  247.9600  247.9800  246.1200  246.4600  4711680.0    DJA
2018-06-21  245.8300  245.9400  243.9300  244.5000  4676606.0    DJA
2018-06-22  245.9200  246.5100  245.4400  245.6900  3653100.0    DJA
2018-06-25  244.1800  244.4000  240.7000  242.3100  9535988.0    DJA
2018-06-26  242.9200  243.6900  242.2720  242.6700  3833729.0    DJA

In [16]:
iex_GSPC_df.head()

                Open      High       Low     Close      Volume Symbol
Date
2018-05-15  270.3763  270.3962  268.8232  269.8885  87036136.0   GSPC
2018-05-16  269.9283  271.5410  269.8984  271.0234  53942631.0   GSPC
2018-05-17  270.7247  272.0089  269.9183  270.7944  56536400.0   GSPC
2018-05-18  270.4061  270.8143  269.7192  270.1174  64367959.0   GSPC
2018-05-21  271.7899  272.7556  270.1385  272.1483  58025875.0   GSPC

In [17]:
iex_EUXL_df.head()

               Open     High      Low    Close  Volume Symbol
Date
2018-05-15  26.0672  26.0672  26.0672  26.0672   501.0   EUXL
2018-05-16  25.5947  25.9065  25.5947  25.9065   925.0   EUXL
2018-05-17  26.2788  26.2788  26.2788  26.2788  1081.0   EUXL
2018-05-18  25.9150  25.9884  25.8998  25.8998  1159.0   EUXL
2018-05-21  25.9983  26.1558  25.9983  26.1166  4620.0   EUXL