In [1]:
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [2]:
stocks_df = pd.read_csv("iex.csv")
stocks_df.head(5)

,Date,Open,High,Low,Close,Volume,Symbol,Source,Event
0,2018-05-15,46.5100,46.9853,46.2700,46.7900,"7,149,574",BP,IEX,Coordination
1,2018-05-15,248.8226,248.9224,245.6011,246.6883,"1,638,203",FDX,IEX,Coordination
2,2018-05-15,54.5800,54.7500,53.5600,53.9200,"21,712,649",INTC,IEX,Coordination
3,2018-05-15,96.8203,97.4277,95.9242,96.9000,"24,594,010",MSFT,IEX,Coordination
4,2018-05-15,46.5100,46.8200,46.2500,46.8100,"11,304,873",ORCL,IEX,Coordination

In [3]:
class stocks(Base):
    __tablename__="stock_data"
    id = Column(Integer, primary_key=True)
    date = Column(String)
    open = Column(Float)
    high = Column(Float)
    low = Column(Float)
    close = Column(Float)
    volume = Column(Integer)
    symbol = Column(String)
    source = Column(String)
    event = Column(String)

In [4]:
hashtag_df = pd.read_csv("Hashtags_combined.csv")
hashtag_df

            Hashtag  Count        Event
0              DPRK   3866       Summit
1               ROK   1636       Summit
2             Japan   1548       Summit
3    TrumpKimSummit    734       Summit
4   SingaporeSummit    690       Summit
5             China    360       Summit
6             Trump    330       Summit
7        NorthKorea    330       Summit
8              DPRK  19045  Rescheduled
9        NorthKorea   2794  Rescheduled
10         BREAKING   1130  Rescheduled
11            Trump    993  Rescheduled
12     AmericaFirst    515  Rescheduled
13    QuoteOfTheDay    475  Rescheduled
14           Lavrov    467  Rescheduled
15               US    397  Rescheduled

In [5]:
class hashtag(Base):
    __tablename__="hashtags"
    id = Column(Integer, primary_key=True)
    hashtag = Column(String)
    count = Column(Integer)
    event = Column(String)

In [6]:
engine = create_engine('sqlite:///sqlite/stocks_hashtags_V1.sqlite', echo=False)
Base.metadata.create_all(engine)
session = Session(engine)

In [7]:
for index, row in stocks_df.iterrows():
    print(row['Symbol'])
    session.add(stocks(date = row['Date'], open = row['Open'], high = row['High'], low = row['Low'], close = row['Close'], volume = row['Volume'], symbol = row['Symbol'], source = row['Source'], event = row['Event']))

for index, row in hashtag_df.iterrows():
    print(row['Hashtag'])
    session.add(hashtag(hashtag = row['Hashtag'], count = row['Count'], event = row['Event']))

BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
BP
FDX
INTC
MSFT
ORCL
UPS
XOM
DPRK
ROK
Japan
TrumpKimSummit
SingaporeSummit
China
Trump
NorthKorea
DPRK
NorthKorea
BREAKING
Trump
AmericaFirst
QuoteOfTheDay
Lavrov
US

In [8]:
session.commit()